.navbar {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
}

.logo {
	flex-grow: 0;
}

.nav {
	flex-grow: 1;
	text-align: center;
	line-height: 3;

	font-size: 1.4rem;
	font-weight: 600;
}

.time {
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.login {
	display: flex;
	align-items: center;
	margin-left: 5px;
}

.button {
	width: 60px;
	height: 60px;

	border: none;
	border-radius: 50%;

	background-color: #e3e3e3;

	transition: filter 0.2s;
}


.button:hover {
	filter: brightness(0.9);
	cursor: pointer;
}

.button > img {
	width: 40px;
}

.button-login {
	width: 60px;
	height: 60px;

	border: none;
	border-radius: 50%;

	background-color: #d3eaff;

	transition: filter 0.2s;
}

.button-login:hover {
	filter: brightness(0.7);
	cursor: pointer;
}

/* .button > img {
	width: 40px;
} */
